.container {
    width: 100vw;
    height: calc(100vh - 61px);
    padding-top: 170px;
  
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  
    background-color: rosybrown;
}

.board {
    min-width: 300px;
    min-height: 600px;

    background-color: black;
    color: white;
    border: 5px solid white;
    border-radius: 12px;

    padding: 20px 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.title {
    font-size: 23px;
    font-weight: 700;
}

.item {
    width: 100%;
    padding: 10px;
    border-radius: 6px;

    background-color: white;
    color: black;

    font-weight: 500;

    cursor: grab;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}