.header {
    width: 100%;
    padding: 20px 120px;

    background-color: black;
}

.nav {
    display: flex;
    gap: 20px;
}

.navlink {
    color: white;
}

.main {
    width: 100vw;
    height: calc(100vh - 61px);

    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    background-color: aliceblue;
}